name: Register
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
jobs:
  register:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JuliaRegistries/RegisterAction@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
